* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    min-height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
  }
  
  .imageWrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden; /* Prevents content from spilling out */
  }
  
  .imageContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: auto; /* Allow container to dynamically adjust width */
  }
  
  .image {
    flex: none;
    width: 100vw; /* Each image takes the full width of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #1d373f;
    color: #f0c368;
  }
  
  .image img {
    width: 60%;
    height: auto;
    max-height: 70%;
    margin-bottom: 1rem;
  }
  
  .image h3 {
    font-size: 1.5rem;
  }
  
  