.navbar_main_div{
    background: var(--black-color);
    width: 100%;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right_side_div_nav img{
    width: 80%;
}
.left_side_div_nav img {
    width: 60%;
}

.sidebar {
  position: absolute; 
  top: 12%;
  left: 5%;
  overflow: hidden; 
}

.sidebar ul {
  color: var(--white-color);
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar ul li {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid var(--white-color);
  padding: 10px 0px;
}

.sidebar ul li:hover {
  /* scale: 1.1; */
  border: none;
}