

.brand_main_div {
    background: var(--black-color);
    width: 100%;
    font-size: 150px;
    font-weight: bolder;
    padding: 50px 100px;
    position: relative;
}

.hoverable {
    display: inline-block;
    transition: color 1s ease;
    cursor:grab;
}

.hoverable:nth-child(6) { 
    margin-right: 20px;
}


