.innovation_main_div {
    width: 100%;
    height: 100vh;
    background: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Tommay-font-1);
    color: var(--white-color);
  }
  
  .innovation_div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .innovation_text_section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding:  50px;
    
  }
  
  /* Background image with lower opacity */
  .innovation_text_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/utils/lava ring.gif");
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; 
    z-index: 0; 
  }
  
  .innovation_heading {
    font-size: 28px;
    font-weight: 600;
    position: relative; 
    z-index: 1; 
  }
  
  .innovation_paragraph {
    font-size: 20px;
    font-weight: 500;
    word-spacing: 1px;
    text-align: justify;
    padding: 0px 100px;
    position: relative;
    z-index: 1;
  }
  
  /* Images */
  .innovation_images_parent_div {
    display: flex;
    gap: 50px;
    padding: 20px;
  }
  
  .innovation_image_div {
    width: 30%;
  }
  
  .innovation_image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1030px) {
    .innovation_div {
      width: 80%;
      gap: 30px;
    }
    
    .innovation_text_section {
      gap: 30px;
      padding: 0px 30px;
    }
    
    /* Background image with lower opacity */
    .innovation_text_section::before {
      background-size: 30%;
    }
    
    .innovation_heading {
      font-size: 26px;
    }
    
    .innovation_paragraph {
      font-size: 19px;
      padding: 0px 90px;
    }
    
    .innovation_image_div {
      width: 28%;
    }
  }
  @media (max-width: 800px) {
    .innovation_div {
      width: 90%;
      gap: 40px;
    }
    
    .innovation_text_section {
      gap: 20px;
      padding: 0px 20px;
    }
    
    /* Background image with lower opacity */
    .innovation_text_section::before {
      background-size: 35%;
    }
    
    .innovation_heading {
      font-size: 24px;
    }
    
    .innovation_paragraph {
      font-size: 17px;
      padding: 0px 70px;
    }
    
    .innovation_image_div {
      width: 28%;
    }
  }
  @media (max-width: 500px) {
    .innovation_div {
      width: 95%;
      gap: 40px;
    }
    
    .innovation_text_section {
      gap: 20px;
      padding: 0px 20px;
    }
    
    /* Background image with lower opacity */
    .innovation_text_section::before {
      background-size: 55%;
    }
    
    .innovation_heading {
      font-size: 24px;
    }
    
    .innovation_paragraph {
      font-size: 17px;
      padding: 0px 20px;
    }
    .innovation_images_parent_div{
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 300px;
    }
    .innovation_image_div {
      width: 50%;
    }
  }