.main_div_whychoose {
    height: 100vh ;
    background: var(--black-color);
}
.div_whychoose_for_gif {
    position: relative;
    background-image: url("../../assets/utils/lava ring.gif");
    background-size: 20%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1;
}
.div_whychoose_for_gif::after {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 2; 
}
.div_whychoose_for_text {
    color: var(--white-color);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* cads */

.whychoose_cards_div_parent{
    display: flex;
    gap: 20px;
    padding: 40px;
    font-family: var(--Tommay-font-1);
    z-index: 4;
}
.whychoose_text{
    font-family: var(--Tommay-font-1); 
    margin-bottom: 30px;
    color: var(--white-color);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.card_whychoose_div {
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    border: 1px solid var(--white-color);
    border-radius: 5px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.648);
}
.card_whychoose_image{
    width: 70%;
}
.card_whychoose_paregraph{
    width: 80%;
    font-size: 15px ;
}
.card_whychoose_div:hover{
    opacity: 1;
    transform:  translateY(-50px);
    background: var(--black-color);
}


@media (max-width: 1030px) {
    .main_div_whychoose {
        height: 90vh ;
    }
    .div_whychoose_for_gif {
        background-size: 25%;
        height: 100%;
    }
    .div_whychoose_for_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    /* cads */
    
    .whychoose_cards_div_parent{
        display: flex;
        gap: 18px;
        padding: 30px;
    }

    .whychoose_text{
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: 600;
    }
    .card_whychoose_div {
        width: 28%;
        padding: 10px 8px;
        gap: 18px;

    }
    .card_whychoose_image{
        width: 70%;
    }
    .card_whychoose_paregraph{
        width: 100%;
        font-size: 13px ;
    }
}
@media (max-width: 800px) {
    .main_div_whychoose {
        height: 80vh ;
    }
    .div_whychoose_for_gif {
        background-size: 40%;
        height: 100%;
    }
    .div_whychoose_for_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    /* cads */
    
    .whychoose_cards_div_parent{
        display: flex;
        gap: 12px;
        padding: 10px;
    }

    .whychoose_text{
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 600;
    }
    .card_whychoose_div {
        width: 25%;
        padding: 10px 5px;
        gap: 18px;
    }
    .card_whychoose_image{
        width: 68%;
    }
    .card_whychoose_paregraph{
        width: 100%;
        font-size: 10px ;
    }
}
@media (max-width: 500px) {
    .main_div_whychoose {
        height: 350vh;
    }
    .div_whychoose_for_gif {
        background-size: 80%;
        height: 100%;
    }
    .div_whychoose_for_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    /* cads */
    
    .whychoose_cards_div_parent{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
        justify-content: center;

    }

    .whychoose_text{
        margin-bottom: 20px;
        font-size: 22px;
        margin-top: 30px;
        font-weight: 600;
    }
    .card_whychoose_div {
        width: 80%;
        padding: 10px 5px;
        gap: 18px;
    }
    .card_whychoose_image{
        width: 68%;
    }
    .card_whychoose_paregraph{
        width: 100%;
        font-size: 20px ;
    }
}