:root{

    /* fonts */
    --Tommay-font-1: 'Made Tommay Soft';
  
    /* colors */
    --black-color: #000000;
    --white-color: #ffffff;
    --orange-color: #FF5700;
    --border-gray-color :#606060;
    --light-gray-color :#D9D9D9;
  
  }
  
  @font-face {
    font-family: 'Made Tommay Soft';
    src: url('./assets/font/MADE Tommy Soft Thin PERSONAL USE.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  

  .main_divs_comman{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }